body {
  font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Meiryo","メイリオ","MS PGothic","ＭＳ Ｐゴシック",Helvetica,Arial,sans-serif;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.7rem; }
h4,
h5,
h6 { font-size: 1.5rem; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

footer {
  margin: 4rem 0;
  text-align: center;
}

main {
  margin: 4rem 0;
}

.container {
  width: 90%;
  max-width: 700px;
}

.site-title {
  font-weight: normal;
  margin-top: 2rem;
  font-family: 'Poiret One', cursive;
}

.site-title a {
  text-decoration: none;
}

.entry-title {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.entry-title a {
  text-decoration: none;
}

.entry-title-article {
  font-size: 2.5rem;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

.footer-link {
  margin: 2rem 0;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

.table-of-contents-title {
    margin-top: 0;
}

@media screen and ( min-width:800px )
{
    .table-of-contents {
        float: right;
        width: 40%;
    }
}

.table-of-contents {
    border: 1px solid #e5e5e5;
    margin: 1em;
    padding: 1.5em 1.5em;
    background: #fff;
}

.table-of-contents li, ul ul, ul{
    margin-bottom: 0;
    margin-top: 0;
}

h1 { font-weight: bold; }
.contents h1, h2, h3 {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    margin-top: 3rem;
}