body {
  font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Meiryo","メイリオ","MS PGothic","ＭＳ Ｐゴシック",Helvetica,Arial,sans-serif;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.7rem; }
h4,
h5,
h6 { font-size: 1.5rem; }

footer {
  margin: 2rem 0;
}

main {
  margin: 4rem 0 2rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.container {
  width: 90%;
  max-width: 700px;
}

.site-title {
  font-weight: normal;
  margin-top: 2rem;
  font-family: 'Poiret One', cursive;
}

.site-title a {
  text-decoration: none;
}

.entry-title {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.entry-title a {
  text-decoration: none;
}

.entry-title-article {
  font-size: 2.5rem;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

a.footer-link {
  text-decoration: none;
}

.related-link {
  border: 1px solid #e5e5e5;
  margin-bottom: 1em;
  padding: 1.5em 1.5em;
  Background: #fff;
}

.related-link-title {
    margin-top: 0;
}

.table-of-contents-title {
    margin-top: 0;
}

@media screen and ( min-width:800px )
{
  .table-of-contents {
    border: 1px solid #e5e5e5;
    float: right;
    width: 40%;
    margin: 1em;
    padding: 1.5em 1.5em;
    Background: #fff;
  }
}

.table-of-contents li, ul ul, ul{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h1 { font-weight: bold; }
.contents h1, h2, h3 {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

/* http://hayashikejinan.com/webwork/css/913/ */
/* Font Awesome hatena bookmark */
.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold
}

.share {
  margin: 1px;
  text-decoration: none;
}
