{{ partial "header.html" . }}

	<main role="main">
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title entry-title-article" itemprop="headline">{{ .Title }}</h1>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
{{ partial "social.html" . }}
			<section itemprop="entry-text">
				<div id="toc" class="table-of-contents">
					<h2 class="table-of-contents-title">目次</h2>
					{{ .TableOfContents }}
				</div>
				<div class="contents">
					{{ .Content }}
				</div>
			</section>
		</article>
	</main>

	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<script type="text/x-mathjax-config">
	 MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]] } });
	</script>
	<script type="text/javascript" async
			src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

{{ partial "footer.html" . }}
