{{ $isHomePage := eq .Title .Site.Title }}
	<footer role="contentinfo">
		<div class="footer-link">
{{ if eq $isHomePage false }}
			&copy; {{ .Date.Format "2006" }} {{ .Site.Params.copyright }}
{{ else }}
			&copy; 2015 {{ .Site.Params.copyright }}
{{ end }}
			{{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}" class="footer-link" target="_blank"><i class="fa fa-twitter"></i>@{{ . }}</a>{{ end }}
			{{ with .Site.Params.github }}<a href="https://github.com/{{ . }}" class="footer-link" target="_blank"><i class="fa fa-github"></i>GitHub</a>{{ end }}
		</div>
	</footer>
</div>
{{ if eq $isHomePage false }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/x-mathjax-config">
 MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]] } });
</script>
<script type="text/javascript" async
		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{end}}
</body>
</html>
