<a class="share" href="http://twitter.com/share?text={{ .LinkTitle }}&uri={{ .Permalink }}" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><i class="fa fa-twitter"></i></a>

<a class="share" target="_blank"  href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" target="_blank"><i class="fa fa-hatena"></i></a>

<a class="share" href="/index.xml"><i class="fa fa-rss"></i></a>
